<div class="home--background">
  <div class="container">
    <h1>Project Tracker</h1>
    <p>Stay on top of your projects with ease - Track, Manage, Succeed!</p>
    <%= link_to "See Projects", projects_path, class:"btn btn-primary btn-translate" %>
  </div>
</div>
